body {
color: white;
    margin:10px;
    padding:0px;
    background: url(neon-lights-wallpaper_52683-46462.jpg) no-repeat;
 background-size: 100%;
 background-attachment:fixed;
 }

h1 {
text-align: center;
color: white;
}

nav {
 width: 220px;
 margin-top: 10px;
 padding: 10px;
 Float: left;
 background: rgba(22,14,100,0.7);
}

ul {
 list-style: none;
 display: block;
 margin:0px;
 padding:0px;
 text-decoration: none;
 color: white;

}

a{
 text-decoration: none;
 color: white;
}

a:active {
  color: white;
}


a:hover {
  background: #8057DD;
}


a:visited {
color: white;
}


ul li ul {
display: none;
position: absolute;
width: 220px;
margin-left: 35px;
background: #8DD6ED;

}

 ul li:hover > ul {
 display:block;
}

.pain {
  width: 820px;
 background: rgba(22,14,100,0.7);
 margin-top: 0px;
 padding: 10px;
 margin-left: 250px;
 display:block;
}

p {
text-align: justify;
}

.pic {
 Float: none;
 text-align: center;
}

.hurt {
 background: rgba(22,14,120,0.7);
 padding: 10px;
 margin-bottom: 15px;
 font-weight: bold;
   
}

h2 {
  text-align: center;
}

b {
 text-align: center;
 float: none;
}

dt {
margin: 10px;
padding: 10px;
background: #8DD6ED;
 font-size: 16;
 font-weight: bold;
   text-align: center;
     float: none;
}

dl {
margin: 10px;
padding: 10px;
background: #8057DD;
 font-size: 16;
 font-weight: bold;
   text-align: center;
     float: none;
}

.end {
 font-weight: bold;
 background: #EC6BFE;
 text-align: center;
 float: none;
 padding: 5px;

}
